---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import Hero from "../../components/home/Hero.astro";
import About from "../../components/common/About.astro";
---

<Layout>
  <Section class="my-4">
    <Hero />
  </Section>
  <Section class="my-2">
    <About />
  </Section>
</Layout>
