---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-8 mb-8">
  <p class="zag-text zag-transition text-center text-sm font-medium">
    &copy; {year} {GLOBAL.username}. all rights reserved. made using <a href="https://astro.build">astro</a> and <a href="https://zaggonaut.dev">zaggonaut</a>.
  </p>
</footer>

