---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-4 mb-20 zag-bg zag-border-t zag-transition">
  <p class="zag-text zag-transition text-center text-sm font-medium">
    &copy; {year} {GLOBAL.username}. All rights reserved. 
    <br>Made using <a href="https://astro.build">Astro</a> and <a href="https://zaggonaut.dev">Zaggonaut</a>.
  </p>
</footer>

