<div class="flex flex-col sm:flex-col gap-2">
    <h1>Hi! I make stuff.</h1>
    <p>In the past, I’ve made websites, Minecraft modpacks, Portal maps and YouTube videos.</p>
    <p>Currently, I’m making Webham, an online text-based RPG and this website (it’s always a WIP!)</p>
    <p>I’m fluent in HTML and CSS; I’m still trying to understand JS! Other than coding, I’m good with most computer stuff in general (Word, Excel, etc.).</p>
    <p>I’m also quite a good writer (not my ego, watch a video of mine). I mainly write about large labyrinths, inspired by Aperture Science from Portal and Rapture from BioShock.</p>
    <p>I enjoy coding, writing, listening to music, designing, drawing and much more! Too much to list here.</p>
    <p><b>Well, that’s it for now, maybe I’ll add more here later!</b></p>
</div>
