<div class="flex flex-col sm:flex-col gap-2">
    <h1 class="text-3xl sm:text-3xl font-display">Hi! I make stuff.</h1>
    <h2 class="text-1xl sm:text-1xl font-display">Currently, I’ve making:</h2>
    <div class="grid grid-cols-2 gap-8">
        <div class="flex flex-col items-center">
            <img src="/images/about/websites.svg" alt="websites" class="w-16 h-16 object-cover" />
            <p class="text-center">Websites</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="/images/about/modpacks.svg" alt="modpacks" class="w-16 h-16 object-cover" />
            <p class="text-center">Modpacks</p>
        </div>
    </div>
    <h2 class="text-1xl sm:text-1xl font-display">I’m fluent in:</h2>
    <div class="grid grid-cols-2 gap-8">
        <div class="flex flex-col items-center">
            <img src="/images/about/htmlcss.svg" alt="websites" class="w-16 h-16 object-cover" />
            <p class="text-center">HTML/CSS</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="/images/about/astro.svg" alt="modpacks" class="w-16 h-16 object-cover" />
            <p class="text-center">Astro</p>
        </div>
    </div>
    <p>I also enjoy writing, designing, drawing and much more! Too much to list here.</p>
    <p><b>Well, that’s it for now, maybe I’ll add more here later!</b></p>
</div>
