---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=ibm-plex-mono:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <slot name="head" />
  </head>
  <body class="zag-bg zag-text zag-transition font-mono">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script is:inline>
      // Load the Ko-fi script dynamically
      const script = document.createElement('script');
      script.src = 'https://storage.ko-fi.com/cdn/scripts/overlay-widget.js';
      script.onload = () => {
        kofiWidgetOverlay.draw('stovonson', {
          'type': 'floating-chat',
          'floating-chat.donateButton.text': 'Support me',
          'floating-chat.donateButton.background-color': '#f45d22',
          'floating-chat.donateButton.text-color': '#fff'
        });
      };
      document.body.appendChild(script);
    </script>
  </body>
</html>
